<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[Bad Smile]</string>
        
        <key>face_zh_name</key>
        <string>[坏笑]</string>
        
        
        
		<key>face_id</key>
		<string>001</string>
		<key>isGIF</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Beer]</string>
        
        <key>face_zh_name</key>
        <string>[啤酒]</string>
        
		<key>face_id</key>
		<string>002</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[No]</string>
        
        <key>face_zh_name</key>
        <string>[不]</string>
        
		<key>face_id</key>
		<string>003</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Happy]</string>
        
        <key>face_zh_name</key>
        <string>[大笑]</string>
        
		<key>face_id</key>
		<string>004</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Broadcast]</string>
        
        <key>face_zh_name</key>
        <string>[广播]</string>
        
		<key>face_id</key>
		<string>005</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Buerjia]</string>
        
        <key>face_zh_name</key>
        <string>[棒棒糖]</string>
        
		<key>face_id</key>
		<string>006</string>
        <key>isGIF</key>
        <string>YES</string>
        
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Clock]</string>
        
        <key>face_zh_name</key>
        <string>[闹钟]</string>
        
		<key>face_id</key>
		<string>007</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Cry]</string>
        
        <key>face_zh_name</key>
        <string>[哭]</string>
        
		<key>face_id</key>
		<string>008</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Doubt]</string>
        
        <key>face_zh_name</key>
        <string>[怀疑]</string>
        
		<key>face_id</key>
		<string>009</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Embarrassed]</string>
        
        <key>face_zh_name</key>
        <string>[尴尬]</string>
        
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Flower1]</string>
        
        <key>face_zh_name</key>
        <string>[花开]</string>
        
		<key>face_id</key>
		<string>011</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Flower2]</string>
        
        <key>face_zh_name</key>
        <string>[花谢]</string>
        
		<key>face_id</key>
		<string>012</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Greeding]</string>
        
        <key>face_zh_name</key>
        <string>[问候]</string>
        
		<key>face_id</key>
		<string>013</string>
        
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[No Idea]</string>
        
        <key>face_zh_name</key>
        <string>[不知道]</string>
        
		<key>face_id</key>
		<string>014</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Just Out]</string>
        
        <key>face_zh_name</key>
        <string>[不在]</string>
        
		<key>face_id</key>
		<string>015</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Misdoubt]</string>
        
        <key>face_zh_name</key>
        <string>[无疑]</string>
        
		<key>face_id</key>
		<string>016</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Money]</string>
        
        <key>face_zh_name</key>
        <string>[有钱]</string>
        
		<key>face_id</key>
		<string>017</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Pretty Smile]</string>
        
        <key>face_zh_name</key>
        <string>[微笑]</string>
        
		<key>face_id</key>
		<string>018</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Rockn Roll]</string>
        
        <key>face_zh_name</key>
        <string>[摇滚]</string>
        
		<key>face_id</key>
		<string>019</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Shame]</string>
        
        <key>face_zh_name</key>
        <string>[害羞]</string>
        
		<key>face_id</key>
		<string>020</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Sigh]</string>
        
        <key>face_zh_name</key>
        <string>[叹气]</string>
        
		<key>face_id</key>
		<string>021</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Smile]</string>
        
        <key>face_zh_name</key>
        <string>[笑]</string>
        
		<key>face_id</key>
		<string>022</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Sunny]</string>
        
        <key>face_zh_name</key>
        <string>[太阳]</string>
        
		<key>face_id</key>
		<string>023</string>
        <key>isGIF</key>
        <string>YES</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[surprise]</string>
        
        <key>face_zh_name</key>
        <string>[惊喜]</string>
        
		<key>face_id</key>
		<string>024</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Devil]</string>
        
        <key>face_zh_name</key>
        <string>[淘气]</string>
        
		<key>face_id</key>
		<string>025</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Unbelievable]</string>
        
        <key>face_zh_name</key>
        <string>[不信]</string>
        
		<key>face_id</key>
		<string>026</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Unhappy]</string>
        
        <key>face_zh_name</key>
        <string>[不高兴]</string>
        
		<key>face_id</key>
		<string>027</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[What]</string>
        
        <key>face_zh_name</key>
        <string>[什么]</string>
        
		<key>face_id</key>
		<string>028</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[Wicked]</string>
        
        <key>face_zh_name</key>
        <string>[邪恶]</string>
        
		<key>face_id</key>
		<string>029</string>
        <key>isGIF</key>
        <string>NO</string>
	</dict>
</array>
</plist>
